*{
    font-family: "Myriad Pro";
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.btn{
    width: 100%;
    background-color: #007c57;
    border: 2px solid #007c57;
    color: #fff;
    padding: 10px 30px;
}
.btn:hover{
    background-color: transparent;
    color: #007c57;
    font-weight: bold;
}