header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
ul li{
    cursor: pointer;
}
ul li:not(:last-child){
    margin-right: 20px;
   
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile{
    font-weight: bold;
    background-color: #007c57;
    color: #fff;
    border: 2px solid #007c57;
    border-radius: 50px;
    padding: 5px 15px;
    text-align: center;
}

.orderBtn{
    font-weight: bold;
    background-color: transparent;
    color: #007c57;
    border: 2px solid #007c57;
    border-radius: 50px;
    padding: 5px 15px;
    text-align: center;
    margin: 0px 10px;
}
.orderBtn:hover{
    background-color: #007c57;
    color: #fff;
}

.logo{
    width: 120px;
}

.profile:hover{
    background-color: transparent;
    border: 2px solid #007c57;
    color: #007c57;
}
.burger-menu{
    display: none;
    font-size: 20px;
}
.logoContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.shopping{
    margin: 0 25px;
    display: flex;
}
.badge{
    position: relative;
    /* position: absolute; */
    top: -15px;
    right: 25px;
    background-color: rgb(190, 84, 84);
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media only screen and (max-width: 550px) {
    nav {
      display: none;
    }
    .burger-menu{
        display: block;
    }
    .profile{
        display: none;
    }
  }