header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    cursor: pointer;
}
nav ul li:not(:last-child){
    margin-right: 20px;
   
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.profile{
    font-weight: bold;
    background-color: #007c57;
    color: #fff;
    border: 2px solid #007c57;
    border-radius: 50px;
    padding: 5px 15px;
    text-align: center;
}

.logo{
    width: 120px;
}

.profile:hover{
    background-color: transparent;
    border: 2px solid #007c57;
    color: #007c57;
}
